<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex"></div>
                    <div class="card-body">
                        <div id="registerData">
                            <h5 class="card-title text-center">Connecting Users Thru Events</h5>
                            <hr>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <input type="text" style="text-align: center" id="inputUserName" #username name="username" class="form-control" placeholder="userName" required autofocus>
                                    <label for="inputUserName" style="text-align: center">Username</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="text" style="text-align: center" id="inputEmail" #email name="email" class="form-control" placeholder="email" required autofocus>
                                    <label for="inputEmail" style="text-align: center">Email</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" style="text-align: center" id="inputPassword1" #password1 name="password1" class="form-control" placeholder="Password1" required autofocus>
                                    <label for="inputPassword1" style="text-align: center">Password</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" style="text-align: center" id="inputPassword2" #password2 name="password2" class="form-control" placeholder="Password2" required autofocus>
                                    <label for="inputPassword2" style="text-align: center"> Confirm Password</label>
                                </div>
                                <div class="form-label-group" style="text-align: center">
                                    <span id="regionLabel">Region: </span>
                                    <select id="selectRegion" #region>
                                        <option *ngFor="let city of cities">{{ city }}</option>
                                    </select>
                                </div>
                                <div class="form-label-group" style="text-align: center">
                                    <span id="categoryLabel">Category: </span>
                                    <select id="selectCategory" #preference>
                                       <option *ngFor="let category of categories">{{ category }}</option>
                                    </select>
                                </div>
                                <hr class="my-4">
                                <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="button" (click)="registerUser(email.value, username.value, password1.value, password2.value, region.value, preference.value)">Register</button>
                                <hr class="my-4">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>