<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 100%;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
      padding: 2px 16px;
    }
  </style>
</head>

<body>
  <header class="text-right">
    <div class="menu-icon">

    </div>
    <div class="second-icon dropdown menu-icon">

    </div>
    <div class="second-icon menu-icon">
      <span><a routerLink="" title="Login"><span class="hidden-xs hidden-sm">Logout</span> <i class="fa fa-database"
            aria-hidden="true"></i></a>
      </span>
    </div>
    <div class="second-icon menu-icon">
      <span><a routerLink="/Profile" title="Profile"><span class="hidden-xs hidden-sm">Profile</span> <i
            class="fa fa-user" aria-hidden="true"></i></a>
      </span>
    </div>
    <div class="second-icon menu-icon">
      <span><a routerLink="/Users" title="Users"><span class="hidden-xs hidden-sm">Users</span> <i class="fa fa-database"
              aria-hidden="true"></i></a>
      </span>
    </div>
    <div class="second-icon menu-icon">
      <span><a routerLink="/Events" title="Events"><span class="hidden-xs hidden-sm">Events</span> <i
            class="fa fa-database" aria-hidden="true"></i></a>
      </span>
    </div>
  </header>

  <!--Left Sidebar with info Profile -->
  <div class="sidebar-nav">
    <div class="card">
      <img src="../../../assets/Images/logo.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4 style="text-align: center"><b>Dashboard</b></h4>
      </div>
    </div>
  </div>

  <!--Wall with Post -->
  <div class="content-posts active" id="feed">
    <div class="primary-content">
      <div id="posts-container" class="container-fluid container-posts">
        <div class="card-post">
          <div class="row">
            <div class="col-xs-3 col-sm-2">
              <!-- feed info-->
            </div>
            <div class="col-xs-9 col-sm-10 info-user">
              <!-- feed info-->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 data-post">
              <p></p>
              <div class="reaction">
                <!-- &#x2764; 156 &#x1F603; 54 -->
              </div>
              <div class="comments">
                <div class="more-comments">View more comments</div>
                <ul>
                  <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                  <li><b>User2</b> Lorem Ipsum Dolor si amet &#x1F602;</li>
                </ul>
                <form>
                  <input type="text" class="form-control" placeholder="Add a comment">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card-post">
          <div class="row">
            <div class="col-xs-3 col-sm-2">
              <a href="user-profile.html" title="User Profile">
                <img src="https://placehold.it/300x300" alt="User name" class="img-circle img-user">
              </a>
            </div>
            <div class="col-xs-9 col-sm-10 info-user">
              <h3><a href="user-profile.html" title="User Profile">User Name</a></h3>
              <p><i>2h</i></p>
            </div>
          </div>
          <div class="row">
            <div class=" col-sm-8 col-sm-offset-2 data-post">
              <p>Lorem Ipsum Dolor si amet</p>
              <img src="https://placehold.it/600x400" alt="image post" class="img-post">
              <div class="reaction">
                &#x2764; 1234 &#x1F603; 54
              </div>
              <div class="comments">
                <div class="more-comments">View more comments</div>
                <ul>
                  <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                  <li><b>User2</b> Lorem Ipsum Dolor si amet &#x1F602;</li>
                </ul>
                <form>
                  <input type="text" class="form-control" placeholder="Add a comment">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card-post">
          <div class="row">
            <div class="col-xs-3 col-sm-2">
              <a href="personal-profile.html" title="User Profile">
                <img src="https://placehold.it/300x300" alt="User name" class="img-circle img-user">
              </a>
            </div>
            <div class="col-xs-9 col-sm-10 info-user">
              <h3><a href="personal-profile.html" title="User Profile">My User</a></h3>
              <p><i>2h</i></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 data-post">
              <p>Lorem Ipsum Dolor si amet</p>
              <img src="https://placehold.it/600x400" alt="video post" class="img-post">
              <div class="reaction">
                &#x2764; 1234 &#x1F603; 54
              </div>
              <div class="comments">
                <div class="more-comments">View more comments</div>
                <ul>
                  <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                  <li><b>User2</b> Lorem Ipsum Dolor si amet &#x1F602;</li>
                </ul>
                <form>
                  <input type="text" class="form-control" placeholder="Add a comment">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--Close #posts-container-->
    <div class="sidebar-right hidden-xs hidden-sm">
      <div class="card-post">
        <div class="row">
          <div class="col-sm-12">
            <p><i>Suggested post</i></p>
            <h3><a href="#" title="Company">Company</a></h3>
            <img src="https://placehold.it/300x300" alt="Suggested post">
          </div>
        </div>
      </div>
      <div class="card-post">
        <div class="row">
          <div class="col-sm-12">
            <h3>Popular Users</h3>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name" class="img-circle">
            </a>
          </div>
        </div>
      </div>
      <div class="card-post">
        <div class="row">
          <div class="col-sm-12">
            <h3>Popular Photos</h3>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="https://placehold.it/300x300" alt="User name">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>