<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 100%;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
      padding: 2px 16px;
    }
  </style>
</head>

<body>
  <header class="text-right">
    <div class="menu-icon">

    </div>
    <div class="second-icon menu-icon">
      <span><a routerLink (click)="logout()" title="Logout"><span class="hidden-xs hidden-sm">Logout</span> <i
            class="fa fa-database" aria-hidden="true"></i></a>
      </span>
    </div>
    <div class="second-icon menu-icon">
        <span><a routerLink="/Profile" title="Profile"><span class="hidden-xs hidden-sm">Profile</span> <i
              class="fa fa-user" aria-hidden="true"></i></a>
        </span>
      </div>
      <div class="second-icon menu-icon">
        <span><a routerLink="/Events" title="Events"><span class="hidden-xs hidden-sm">Events</span> <i
              class="fa fa-database" aria-hidden="true"></i></a>
        </span>
      </div>
    <div class="second-icon menu-icon adminNav" *ngIf="verifyAdmin()">
      <span><a routerLink="/Admin" title="Admin Page"><span class="hidden-xs hidden-sm">Administration</span> <i
            class="fa fa-user" aria-hidden="true"></i></a>
      </span>
    </div>
  </header>

  <!--Left Sidebar with info Profile -->
  <div class="sidebar-nav contentHide">
    <div class="card">
      <img src="../../../assets/Images/logo.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4 style="text-align: center"><b>Welcome Back {{currentUser.username}}!</b></h4>
        <h4 style="text-align: center"><b>Dashboard</b></h4>
      </div>
    </div>
  </div>

  <!--Wall with Post -->
  <div class="content-posts active" id="eventPosts">
    <div class="primary-content">
      <div id="posts-container" class="container-fluid container-posts">
          <div class="card-post" *ngFor="let event of events" style="width: 100%">
            <div class="row">
              <div class="card" style="background-color: rgb(252, 177, 64)">
                <img class="card-img-top" src="{{event.images[0].url}}" alt="Card image cap">
                <div class="card-body">
                  <h2>{{event.name}}</h2>
                  <div class="comments">
                    <p><b>Information: </b>{{event.info}}</p>
                    <p><b>City: </b>{{event._embedded.venues[0].city.name}}</p>
                    <p><b>Date: </b>{{event.dates.start.localDate}}</p>
                    <a class="btn btn-secondary" style="color: white" href={{event.url}}>Get Tickets!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>


  <!-- Right Side Bar Content-->
  <div class="sidebar-right hidden-xs hidden-sm .contentHide">
    <h2 style="text-align: center"><i>Connections!</i></h2>
    <div class="card-post" style="width: 100%" *ngFor="let user of users; let i = index">
      <div class="card" style="text-align: center">
        <img class="card-img-top" src="../../../assets/Images/abstract2.jpg" alt="Card image cap">
          <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Username:</b> {{user.username}}</li>
            <li class="list-group-item"><b>Category:</b> {{user.category}}</li>
            <li class="list-group-item"><b>City:</b> {{user.region}}</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-secondary" style="background-color: rgb(252, 177, 64)" id="connectBtn" title="Connect">Connect With User!</button>
          </div>
        </div>
    </div>
  </div>
</div>
<button class="btn btn-secondary topBtn" (click)="toTop()"  title="Go to top">Top of Page</button>

</body>

</html>