<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 100%;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
      padding: 2px 16px;
    }
  </style>
</head>

<body>
  <div id="navbar">
  <header class="text-center">
    <form class="text-left search" method="GET">
      <input name="q" type="text" placeholder="Search..">
    </form>
    <div class="second-icon menu-icon">
      <span><a routerLink="" title="Login"><span class="hidden-xs hidden-sm">Logout</span> <i class="fa fa-database"
            aria-hidden="true"></i></a>
      </span>
    </div>
    <div class="second-icon menu-icon">
      <span><a routerLink="/Profile" title="Profile"><span class="hidden-xs hidden-sm">Profile</span> <i
            class="fa fa-user" aria-hidden="true"></i></a>
      </span>
    </div>
    <div class="second-icon menu-icon">
      <span><a routerLink="/Events" title="Events"><span class="hidden-xs hidden-sm">Events</span> <i
              class="fa fa-user" aria-hidden="true"></i></a>
      </span>
    </div>
    <div class="second-icon menu-icon">
      <span><a routerLink="/Dashboard" title="Wall"><span class="hidden-xs hidden-sm">Dashboard</span> <i
            class="fa fa-database" aria-hidden="true"></i></a>
      </span>
    </div>
  </header>
  </div>
  <div class="content-posts active" id="userProfileInfo">
      <div class="primary-content">
        <div id="posts-container" class="container-fluid container-posts">
          <div class="jumbotron">
            <h1 style="text-align: center">Personal Information</h1>
            <div id="profile-info">
              <span id="usernameLabel">Username: </span><br>
              <P>Top Categories: </P>
              <ol>
                <li></li>
                <li></li>
                <li></li>
              </ol>
              <h4>Past Events: </h4><br>
              <div class="list-group" title="Saved Events">
                <!-- <a href="#" class="list-group-item list-group-item-action list-group-item-info">Event 1</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Event 2</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Event 3</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Event 4</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Event 5</a> -->
              </div>
            </div>
            <br>
            <p class="lead" style="text-align: center">
              <span style="text-align: center"><a class="btn btn-secondary btn-lg" href="#" role="button">Connect!</a></span>
              <span style="text-align: center"><a class="btn btn-danger btn-lg" href="#" role="button">Report!</a></span>
            </p>
          </div>
        </div>
      </div>
    </div>

      <div class="sidebar-nav">
          <div class="card">
            <img src="../../../assets/Images/logo.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4 style="text-align: center"><b>Users</b></h4>
            </div>
          </div>
        </div>
</body>

</html>