<header class="text-right">
  <form class="text-left search" method="GET">
      <input name="q" type="text" placeholder="Search..">
  </form>
  <div class="menu-icon">
      
  </div>
  <div class="second-icon dropdown menu-icon">
      
  </div>
  <div class="second-icon menu-icon">
    <span><a routerLink="" title="Wall"><span class="hidden-xs hidden-sm">Logout</span> <i class="fa fa-database" aria-hidden="true"></i></a>
    </span>
</div>
  <div class="second-icon menu-icon">
      <span><a routerLink="/Events" title="Wall"><span class="hidden-xs hidden-sm">Events</span> <i class="fa fa-database" aria-hidden="true"></i></a>
      </span>
  </div>
  <div class="second-icon menu-icon">
    <span><a routerLink="/Dashboard" title="Wall"><span class="hidden-xs hidden-sm">Dashboard</span> <i class="fa fa-database" aria-hidden="true"></i></a>
    </span>
</div>
</header>
