<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex"></div>
                    <div class="card-body">
                        <div id="loginData">
                            <h1 class="card-title text-center">Connecting Users Thru Events</h1>
                            <br>
                            <hr>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <input type="text" style="text-align: center" id="loginEmail" class="form-control" placeholder="email" required=false autofocus>
                                    <label for="loginEmail" style="text-align: center">Email</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" style="text-align: center" id="loginPassword" class="form-control" placeholder="Password1" required=false autofocus>
                                    <label for="loginPassword" style="text-align: center">Password</label>
                                </div>
                                <hr class="my-4">
                                <button class="btn btn-lg btn-secondary btn-block text-uppercase" routerLink="/Dashboard" type="submit">Login</button>
                                <button class="btn btn-lg btn-secondary btn-block text-uppercase" routerLink="/Register"  type="submit">Register</button>
                                <hr class="my-4">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>