<!DOCTYPE html>
<html>
  <head>
    <title>Personal Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <style>
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 100%;
      }

      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      .container {
        padding: 2px 16px;
      }
    </style>
  </head>

  <body id="personal">
    <header class="text-right" id="pagetop">   
        <div class="second-icon menu-icon">
        <span><a routerLink (click)="logout()" title="Logout"><span class="hidden-xs hidden-sm">Logout</span><i class="fa fa-database" aria-hidden="true"></i></a></span>
      </div>
      <div class="second-icon menu-icon" *ngIf="verifyAdmin()">
          <span><a routerLink="/Admin" title="Admin Page"><span class="hidden-xs hidden-sm">Administration</span> <i class="fa fa-user" aria-hidden="true"></i></a></span>
      </div>
      <div class="second-icon menu-icon">
        <span
          ><a routerLink="/Profile" title="Profile"><span class="hidden-xs hidden-sm">Profile</span> <i class="fa fa-database" aria-hidden="true"></i></a></span>
      </div>
      <div class="second-icon menu-icon">
        <span
          ><a routerLink="/Dashboard" title="Dashboard"><span class="hidden-xs hidden-sm">Dashboard</span><i class="fa fa-database" aria-hidden="true"></i></a></span>
      </div>
    </header>

    <!--Left Sidebar with info Profile -->
    <div class="sidebar-nav">
        <div class="card">
          <img src="../../../assets/Images/logo.jpg" alt="Avatar" style="width:100%">
          <div class="container">
              <h4 style="text-align: center"><b>Events</b></h4>
              <select id="Key-select" [(ngModel)]="selectedKeyword">
                  <option *ngFor="let keyword of keywords">
                      {{keyword.name}}
                   </option>
              </select>
              <input [(ngModel)] ="searchWord" name="q" type="text" placeholder="Search..">
            <button (click)="getEvents()">Search</button>
          </div> 
        </div>
      </div>

    <!-- event card -->
    <div class="content-posts active" id="eventPosts">
        <div class="primary-content">
            <div id="posts-container" class="container-fluid container-posts">
              <div class="row">
                <div class="card-post" *ngFor="let event of events" >
                    <div class="row">
                        <div class="card" style="background-color: rgb(252, 177, 64)">
                            <img class="card-img-top" src="{{event.images[0].url}}" alt="Card image cap">
                            <div class="card-body">
                                <h2>{{event.name}}</h2>
                                <div class="comments">
                                  <p><b>Information:</b> {{event.info}}</p>
                                  <p><b>Date:</b> {{event.dates.start.localDate}}</p>
                                  <p style="visibility:hidden; display:none;">{{event.id}}</p>
                                </div>
                                <button class="btn btn-secondary" (click)="toTop()" id="topBtn" title="Go to top">Top</button>
                                <button class="btn btn-secondary"  (click)="saveEvent(event.id)" id="saveBtn" title="Save Event">Save Event</button>
                                <a class="btn btn-secondary" href={{event.url}} >Get Tickets!</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        
        </div>
        
  </body>
</html>
