<!DOCTYPE html>
<html>
  <head>
    <title>Personal Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <style>
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 100%;
      }

      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      .container {
        padding: 2px 16px;
      }
    </style>
  </head>

  <body id="personal">
    <header class="text-right">
      <!-- <div class="menu-icon">

    </div>
    <div class="second-icon dropdown menu-icon">


    </div> -->
      <div class="second-icon menu-icon">
        <span
          ><a routerLink="" title="Wall"
            ><span class="hidden-xs hidden-sm">Logout</span>
            <i class="fa fa-database" aria-hidden="true"></i
          ></a>
        </span>

      </div>
      <div class="second-icon menu-icon">
        <span
          ><a routerLink="/Profile" title="Wall"
            ><span class="hidden-xs hidden-sm">Profile</span>
            <i class="fa fa-database" aria-hidden="true"></i
          ></a>
        </span>
      </div>
      <div class="second-icon menu-icon">
        <span
          ><a routerLink="/Dashboard" title="Wall"
            ><span class="hidden-xs hidden-sm">Dashboard</span>
            <i class="fa fa-database" aria-hidden="true"></i
          ></a>
        </span>
      </div>
    </header>

    <!--Left Sidebar with info Profile -->
    <div class="sidebar-nav">
        <a href="personal-profile.html" title="Profile">
            <img src="https://placehold.it/300x300" alt="User name" class="img-circle img-user">
        </a>
        <h2 class="text-center hidden-xs"><a href="personal-profile.html" title="Profile">My User</a></h2>
        <p class="text-center user-description hidden-xs">
            <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i>
        </p>
    </div>

    <div class="content-posts active" id="posts">
        <div class="primary-content">
            <div id="posts-container" class="container-fluid container-posts">
              <div class="row">
                <div class="card-post" *ngFor="let event of events" >
                    <div class="row">
                        <div class=" col-sm-8 col-sm-offset-2 data-post">
                            <p>{{event.name}}</p>
                            <p>{{event.dates.start.localDate}}</p>
                            <img src="{{event.images[0].url}}">
                            <div class="comments">
                                <p>{{event.info}}</p>
                                <p>{{event.url}}</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        </div>
  </body>
</html>
